# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
ENV.bak/
*.egg-info/
dist/
build/
*.egg

# C and C++ (using Meson)
build/
*.o
*.a
*.so
*.d
*.dSYM/
*.exe
*.out
*.obj
*.dll
*.lib
*.pdb
*.exp
*.log
*.stackdump

# Fortran
*.mod
*.o
*.a
*.so
*.exe
*.out

# Doxygen
html/
latex/
xml/
man/
rtf/
tags

## Misc
*.swp
*._DS_Store
*.DS_Store
*.bak
*.tmp
*.log
*.cache
*.private
*.private/

subprojects/mfem/
subprojects/tetgen/
subprojects/yaml-cpp/
subprojects/quill/
subprojects/googletest-*/
subprojects/opat-core/
subprojects/pybind11*/
subprojects/packagecache/
subprojects/hypre/
subprojects/qhull/
subprojects/libconstants/
subprojects/liblogging/
subprojects/libconfig/
subprojects/libcomposition/
subprojects/GridFire/

qhull.wrap
quill.wrap
yaml-cpp.wrap
cppad.wrap

subprojects/quill.wrap

.vscode/

*.log
mpi-install-log.txt

output/

.boost_installed
4DSSE_logs/
.last_build_flags

.idea/

scratch/
